@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  background: #0E1117
}

.btn{
  background: linear-gradient(90deg,#4ca5ff,#b573f8);
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 900;
}

.gradient{
  
  background: linear-gradient(90deg,#4ca5ff,#b573f8);
  color: white;
}