@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  background: #0E1117
}

.btn{
  background: linear-gradient(90deg,#4ca5ff,#b573f8);
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 900;
}

.gradient{
  
  background: linear-gradient(90deg,#4ca5ff,#b573f8);
  color: white;
}
.cardGradient {
  background: linear-gradient(90deg,#ff7170 -50.34%,#ffe57f 100.78%);
  /* -webkit-background-clip: text; */
  /* background-clip: text; */
}


.textClip {
  background: linear-gradient(90deg,#4ca5ff,#b573f8);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}


.textClip {
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}


.pendingStyle, .approvedStyle, .rejectedStyle{
  width: auto;
  font-weight: 900;
  
  /* padding: 2px 4px; */
}


.pendingStyle{
  color: rgb(111, 111, 9) !important;
}

.approvedStyle{
  color: green !important;
}
 
.rejectedStyle{
  color: red !important;
}
